<!-- This is the landing page -->

<!-- hero banner occuping the first part of the page -->
<div id="hero">
  <div>
    <h1 id="neon">The Mob Bar <i class="fas fa-cocktail"></i></h1>
  </div>
    <div>
     <h4> <%= link_to 'Add a cocktail', new_cocktail_path, class: "main-button" %> </h4>
    </div>
</div>


<div>
  <% @cocktails.each do |cocktail| %>
    <h3> <%=link_to cocktail.name, cocktail_path(cocktail) %> </h3>
  <% end %>
</div>
