<!-- This is the landing page -->

<!-- hero banner occuping the first part of the page -->
<div id="hero">
  <div>
    <h1 id="neon">The Mob Bar <i class="fas fa-cocktail"></i></h1>
  </div>
    <div>
     <h4> <%= link_to 'Add a cocktail', new_cocktail_path, class: "main-button" %> </h4>
    </div>
</div>


<div class="cocktail-card">
  <% @cocktails.each do |cocktail| %>

    <div>
      <% if cocktail.virgin? %>
        <p>Virgin</p>
      <% end %>
    </div>

    <h2> <%=link_to cocktail.name, cocktail_path(cocktail) %> </h2>

    <div>
    <% if cocktail.photo.attached? %>
      <%= cl_image_tag cocktail.photo.key, class: "avatar-large" %>
    <% else %>
      <%= image_tag("https://images.unsplash.com/photo-1437418747212-8d9709afab22?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1266&q=80", class: "avatar-large") %>
    <% end %>
    </div>

  <% end %>
</div>
