<!-- This is the landing page -->

<div id="hero">
  <div>
    <h1 id="neon">The Mob Bar <i class="fas fa-cocktail"></i></h1>
      <%= link_to new_cocktail_path, class: "button" do %>
        <i class="fa fa-plus"></i> Add New
      <% end %>
    </div>
</div>


<%= link_to new_cocktail_path, class: "button" do %>
<i class="fa fa-plus"></i> Add New
<% end %>

<ul>
  <% @cocktails.each do |cocktail| %>
  <li> <%=link_to cocktail.name, cocktail_path(cocktail) %></li>
  <% end %>
</ul>
