#hero {
  background-image: repeating-linear-gradient(
    to bottom,
    transparent 7px,
    rgba(0, 0, 0, 0.8) 9px,
    rgba(13, 14, 48, 0.8) 13px,
    transparent 13px
    );
  height: 600px;
  display: flex;
  justify-content: center;
  margin: 0 auto;

}
