#neon {
  list-style-type: none;
  color: #fff6a9;
  display: flex;
  font-family: 'Damion';
  font-size: 90px;
  margin: auto;
  letter-spacing: 6px;
  text-shadow: 0 0 10px #ffaa50, 0 0 15px #ffaa50, 0 0 30px #ffaa50, 0 0 50px #ff8d00, 0 0 70px #ff0000;
  animation: blink 9s infinite;
  animation-delay: none;
}

// @keyframes blink{
//     1% { color: #fff6b9; text-shadow: 0 0 10px #ffaa50, 0 0 15px #ffaa50, 0 0 30px #ffaa50; }
//     2% { color: #fff6a9; text-shadow: 0 0 10px #ffaa50, 0 0 15px #ffaa50, 0 0 30px #ffaa50, 0 0 50px #ff8d00, 0 0 70px #ff0000; }
//     70% { color: #fff6a9; text-shadow: 0 0 10px #ffaa50, 0 0 15px #ffaa50, 0 0 30px #ffaa50, 0 0 50px #ff8d00, 0 0 70px #ff0000; }
// }

@keyframes blink {
  0% { color: #fff6a9; text-shadow: 0 0 10px #ffaa50, 0 0 15px #ffaa50, 0 0 30px #ffaa50, 0 0 50px #ff8d00, 0 0 70px #ff0000; }
  2% { color: #fff6c9; text-shadow: 0 0 10px #ffaa50, 0 0 15px #ffaa50, 0 0 20px #ffaa50; }
  3% { color: #fff6a9; text-shadow: 0 0 10px #ffaa50, 0 0 15px #ffaa50, 0 0 30px #ffaa50, 0 0 50px #ff8d00, 0 0 70px #ff0000; }
  5% { color: #fff6a9; text-shadow: 0 0 10px #ffaa50, 0 0 15px #ffaa50, 0 0 30px #ffaa50, 0 0 50px #ff8d00, 0 0 70px #ff0000; }
  6% { color: #000000; text-shadow: none; }
  8% { color: #fff6a9; text-shadow: 0 0 10px #ffaa50, 0 0 15px #ffaa50, 0 0 30px #ffaa50, 0 0 50px #ff8d00, 0 0 70px #ff0000; }
  55% { color: #fff6a9; text-shadow: 0 0 10px #ffaa50, 0 0 15px #ffaa50, 0 0 30px #ffaa50, 0 0 50px #ff8d00, 0 0 70px #ff0000; }
  56% { color: #fff6c9; text-shadow: 0 0 10px #ffaa50, 0 0 15px #ffaa50, 0 0 20px #ff8d00; }
  57% { color: #fff6a9; text-shadow: 0 0 10px #ffaa50, 0 0 15px #ffaa50, 0 0 30px #ffaa50, 0 0 50px #ff8d00, 0 0 70px #ff0000; }
}
